body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> 5b378e34046013913859f0e6765c13050a2988fc
a{
    text-decoration: none;
    color: black;
}